header {
  grid-area: kopf;
}
nav {
  grid-area: navi;
}
aside {
  grid-area: zusatz;
}
footer {
  grid-area: fuss;
}
body {
  display: grid;
  grid-template-areas:
    "kopf kopf"
    "navi navi"
    "main zusatz"
    "fuss fuss";
  grid-template-columns: 1fr 30%;
  grid-template-rows: auto 7.5% 1fr 5%;
}
