/*nav element wird zum berserker und bestimmt ihre höhe nun allein sobald breite < 1024px*/
/*sobald media screen mit < 768px im spiel ist, erhalten nav und main unerwartet mehr höhe als sie haben sollen*/

header {
  grid-area: kopf;
}

nav {
  grid-area: navi;
}

aside {
  grid-area: zusatz;
}

footer {
  grid-area: fuss;
}

main {
  grid-area: main;
}

body {
  display: grid;
  grid-template-areas:
    "kopf kopf"
    "navi navi"
    "main zusatz"
    "fuss fuss";
  grid-template-columns: 1fr 30%;
  grid-template-rows: 100px 50px 2fr 20px;
  column-gap: 20px;
}


@media screen and (min-width: 1024px) {
  body {
    grid-template-areas:
      "kopf navi navi"
      "main main zusatz"
      "fuss fuss fuss";

    grid-template-rows: 100px 1fr 20px;
    grid-template-columns: 350px 1fr 30%;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  body {
    grid-template-areas:
      "kopf"
      "navi"
      "main"
      "zusatz"
      "fuss";

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr 20px;
  }

  header {
    height: 90px;
  }

  main {
    margin-top: none;
  }

  h1#title {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 480px) {
  body {
    grid-template-areas:
      "kopf"
      "navi"
      "main"
      "zusatz"
      "fuss";
  }

  nav ul {
    flex-direction: column;
  }

  header {
    height: 60px;
  }

  /* header div img {
    width: 30%;
  }*/

  h1#title {
    font-size: 20px !important;
  }

  aside {
    display: none;
  }
}